<table class="content-table">

    <thead>
        <tr>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>No of Amounts</td>
        <td>Actions</td>
        <td>Total</td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of Shoppingcart| slice:startIndex:endIndex; index as i" class="active-row">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <input type="number"
                 placeholder="No.of Amounts"
                  [(ngModel)]="product.amount" 
                  min="0"
                  />
                </td>
                <td>
                    <button class="btn btn-success" (click)="updateCart(i)">
                        <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger" (click)="deleteCart(i)">
                        <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                    </button>
                </td>
       
       <td>{{product.price * product.amount | currency }}</td>

              </tr>
    </tbody>
</table>
<div class="total">
    
    <strong>Total:{{totalPrice |currency}}</strong>
</div>
<div class="container">
    <button type="button" class="checkoutButton" routerLink="/checkout">Checkout</button>
</div>
<div class="pagination">
<nav aria-label="Page navigation example">
   
    <ul class="pagination pull-right" text-align="center">
        
      <li *ngFor="let product of callArray(Shoppingcart.length);let in=index">
        <a class="page-link" (click)="updateIndex(in)">{{in + 1}}</a>
      </li>
    </ul>
  </nav>
  </div>
